$color-primario: #15ffbc;
$color-secundario: #080d14;

header {
  background-color: $color-primario;
}
main {
  background-color: $color-primario;
}
footer {
  background-color: $color-secundario;
  color: #fff;
}

h3 ul {
  color: $color-primario;
}
