@use "variables";

* {
  box-sizing: content-box;
}

body {
  font-family: "Anek Tamil", sans-serif !important;
  font-family: "Open Sans", sans-serif !important;
  margin: 0;
}

.header_container {
  background-color: variables.$color-primario;
  height: 150px;
  display: flex;
  justify-content: center;
}

.container_main {
  background-color: variables.$color-primario;
  display: list-item;
  justify-content: center;
}

footer {
  background-color: variables.$color-secundario;
  color: #fff;
  justify-content: center;
}

h3 ul {
  color: variables.$color-primario;
}

.container {
  margin: 0 auto;
  flex-wrap: wrap;
  padding: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  color: variables.$color-primario;
  text-align: center;
}

footer h3 {
  text-align: center;
}

footer ul {
  padding-left: 0rem;
}

footer h2 {
  color: variables.$color-primario;
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
}

h2 {
  font-weight: bold;
  margin: 10px;
}

figcaption {
  font-weight: bold;
  margin: 30px;
  transform: rotate(-11deg);
}

h2 > span {
  text-decoration: line-through variables.$color-alternativo;
}

footer ul .home a {
  text-decoration: line-through variables.$color-alternativo;
  color: variables.$color-alternativo;
}
.navegacion li {
  color: #fff;
  font-weight: bold;
}

.navegacion li a {
  text-decoration: none;
  color: #fff;
}

.logo-burguer {
  padding-top: 15px;
  padding-left: 15px;
}

.logos-redes {
  margin-bottom: 25px;
}

.logos-redes h3 {
  margin-bottom: 15px;
}

footer > section {
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h2 {
  margin-top: 20px;
  margin-bottom: 50px;
}

.titulo-imagenes {
  margin-bottom: 40px;
}

.listado-imagenes {
  width: 100%;
  height: auto;
}

.logos {
  display: inline-block;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: -10px;
}

.header_container--burger {
  transform: translate(-190px, 10px);
}

.imagenes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo-panic {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}

.content-main {
  height: 100vh;
  width: 100vw;
}

footer {
  display: flex;
  flex-direction: column;
}
.redes-sociales {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-bottom: 30px;
  &__logos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
