@use "variables";

body {
  margin: 0;
}

header {
  background-color: variables.$color-primario;

  justify-content: center;
  padding: 0;
}

main {
  background-color: variables.$color-primario;
}

footer {
  background-color: variables.$color-secundario;
  color: #fff;
  justify-content: center;
}

h3 ul {
  color: variables.$color-primario;
}

.container {
  border: 1px solid black;
  margin: 0 auto;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  color: variables.$color-primario;
  text-align: center;
}

footer h3 {
  text-align: center;
}

footer ul {
  padding-left: 0rem;
}

footer h2 {
  color: variables.$color-primario;
  gap: 5px;
}

h2 > span {
  text-decoration: line-through variables.$color-alternativo;
}

footer ul .home a {
  text-decoration: line-through variables.$color-alternativo;
  color: variables.$color-alternativo;
}
.navegacion li {
  color: #fff;
}

.navegacion li a {
  text-decoration: none;
  color: #fff;
}

.logo-burguer {
  padding-top: 15px;
}

.logos-redes {
  margin-bottom: 25px;
}

.logos-redes h3 {
  margin-bottom: 15px;
}

footer > section {
  margin-bottom: 20px;
}
