$color-primario: #15ffbc;
$color-secundario: #080d14;

$breakpoints: (
  sm: 600px,
);

body {
  margin: 0;
}

header {
  background-color: $color-primario;
  justify-content: center;
  padding: 0;
}

main {
  background-color: $color-primario;
}

footer {
  background-color: $color-secundario;
  color: #fff;
  justify-content: center;
}

h3 ul {
  color: $color-primario;
}

.container {
  border: 1px solid black;
  margin: 0 auto;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  color: $color-primario;
  text-align: center;
}

footer h3 {
  text-align: center;
}

footer ul {
  padding-left: 0rem;
}
