$breakpoints: (
  sm: 600px,
);

header {
  border: 10px solid black;
  background-color: green;
  justify-content: center;
}

.contenido {
  &__video {
    background-image: url(images/home/media/media04.jpg);
  }
}

.container-fluid {
  border: 1px solid black;
}
