$color-primario: #15ffbc;
$color-secundario: #080d14;

$breakpoints: (
  sm: 600px,
);

header {
  border: 10px solid yellow;
  background-color: $color-primario;
  justify-content: center;
}

main {
  background-color: $color-primario;
}

footer {
  background-color: $color-secundario;
  color: #fff;
}

h3 ul {
  color: $color-primario;
}

.container-fluid {
  border: 1px solid black;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
