$color-primario: #15ffbc;
$color-secundario: #080d14;

$breakpoints: (
  sm: 600px,
);

header {
  border: 10px solid black;
  background-color: $color-primario;
  justify-content: center;
}

main {
  background-color: $color-primario;
}

footer {
  background-color: $color-secundario;
  color: #fff;
  justify-content: center;
}

h3 ul {
  color: $color-primario;
}

.container-fluid {
  border: 1px solid black;
}

li {
  list-style: none;
  color: $color-primario;
  text-align: center;
}

footer h3 {
  text-align: center;
}

footer ul {
  padding-left: 0rem;
}
